.contact__info__div{
  display: flex;
  flex-direction: row;
  align-items:center;
  width:648px;
}

.contact__name__div{
  width:60%
}

.contact__address__div{
  width:100%;
  display: flex;
  flex-direction: row;
}

.address__icon__div{
  display: flex;
  justify-content: center;
  width:10%;
}

.textFeild__inventory__inner{
  width:224%;
}

.add__news_inven{
  display: flex;
  flex-direction:row;
  align-items:center;
  width:50%;
  height:80%;
  color:white;
  background-color: rgb(19, 202, 248);
  border:2px solid rgb(2, 123, 153);
  margin-right: 35px;
  padding:10px;
  border-radius: 4px;
  cursor: pointer;
}

.add__news_inven{
  width:65%;
}


.contact__date__div{
  display: flex;
  align-items: center;
  width:200px;
}

.icon__contact__container{
  display: flex;
  align-items: center;
  width:18%;
  margin-left:60px;
}
